::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #128e50;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(223, 223, 223);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  background-color: #121212;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin-top: 1.5%;
  margin-right: 10px;
  margin-bottom: 1.5%;
  margin-left: 10px;
}

header {
  background-color: #128e50;
  color: white;
  padding: 2px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  min-width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 1%;
  margin-bottom: 1%;
}
header a {
  text-decoration: none;
  color: white;
}
header .logo {
  margin: 5px 10px 5px 10px;
  align-self: flex-start center;
  flex-grow: 0;
  cursor: pointer;
}
header .logo img {
  width: 150px;
  height: 34px;
}
header .search_bar {
  height: 2rem;
  width: auto;
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 2;
  margin-left: 10px;
  max-width: 40%;
}
header .search_bar input {
  background-color: white;
  width: 100%;
  min-width: 140px;
  padding: 2px;
  display: flex;
  flex-grow: 1;
  border: 1px solid white;
  border-radius: 5px;
  font-size: medium;
}
header .search_bar input:focus {
  outline: none;
}
header .search_bar button {
  background-color: transparent;
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
header .search_bar button img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  display: block;
  cursor: pointer;
}
header .others {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-left: 0;
  flex-grow: 1;
}
header .others .eventManager {
  padding: 8px 12px 8px 12px;
  min-width: 111px;
  flex-grow: 0;
  border: 1px solid white;
  border-radius: 18px;
  transition: linear;
  transition-duration: 0.2s;
}
header .others .eventManager:visited {
  background-color: none;
}
header .others .eventManager:hover {
  background-color: whitesmoke;
  color: #121212;
  transition: linear;
  transition-duration: 0.2s;
}
header .others .ticketManager {
  min-width: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
}
header .others__modalTrigger {
  min-width: 96px;
}

@media (max-width: 868px) and (min-width: 460.5px) {
  header {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  header .logo {
    margin: 3px 10px 3px 5px;
  }
  header .search_bar {
    max-width: 60%;
  }
}
@media (max-width: 460.5px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  header .logo img {
    width: 200px;
    height: 45px;
  }
  header .search_bar {
    max-width: 100%;
  }
}
.modal-trigger {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 2px;
  margin: 5px;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  position: fixed;
  background: white;
  color: #333;
  border-radius: 10px;
  width: 50%;
  height: auto;
  min-width: 250px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

.close {
  position: absolute;
  top: 0.3rem;
  right: 0.4rem;
  background: transparent;
  border: 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.login {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}
.login__header {
  border-radius: 9px 9px 0 0;
  width: 100%;
  height: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #128e50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login__header h1 {
  margin-top: 5px;
  margin-bottom: 4px;
  align-self: center;
  color: white;
  font-size: 2em;
}
.login__body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  width: 100%;
  height: 80%;
}
.login__body form {
  margin-top: 5px;
  width: 100%;
  height: 100%;
}
.login__body form input {
  padding: 3px;
  margin-top: 5px;
  width: 80%;
  height: 2em;
  border-radius: 6px;
  border-width: 1px solid #121212;
  flex-grow: 1;
  font-size: medium;
}
.login__body form input:focus {
  outline: none;
}
.login__body form button {
  background-color: #26bc71;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 60%;
  height: 30px;
  flex-grow: 1;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}
.login__body button {
  background-color: transparent;
  color: #999;
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  flex-grow: 0;
  font-style: italic;
}
.login .modal-switch {
  padding: 5px;
  margin-bottom: 5px;
  color: #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-weight: lighter;
  font-size: 1rem;
}
.login .modal-switch .modal-trigger.in-modal {
  color: #4dba83;
  padding: 0;
  margin: 5px;
  font-weight: bold;
  font-size: 0.9rem;
}

.dropdown-wrapper {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-hover {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dropdown-hover .dropdown {
  background: white;
  width: 160px;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: 6px;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.dropdown-hover .dropdown a {
  width: 100%;
  padding: 12px 16px;
  text-align: left;
  color: black;
  text-decoration: none;
}
.dropdown-hover .dropdown a:hover {
  background: #e7e7e7;
}
.dropdown-hover:hover .dropdown {
  display: flex;
}

.auth {
  display: flex;
  align-items: center;
}
.auth #userWrapper {
  background: #128e50;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  padding: 5px 10px;
  border-radius: 7px;
  transition: ease-in;
  transition-duration: 0.2s;
}
.auth #userWrapper:hover {
  background: rgb(241, 241, 241);
  color: #333;
  transition: ease-in;
  transition-duration: 0.2s;
}
.auth #userWrapper:hover #avatarHeader {
  border: 2px solid #128e50;
  transition: ease-in;
  transition-duration: 0.2s;
}
.auth #userWrapper:hover .dropdown {
  display: flex;
  width: 160px;
}
.auth .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
}
.auth .dropdown a {
  display: block;
  width: 100%;
  cursor: pointer;
}
.auth #avatarText {
  margin: 5px 0 5px 5px;
  min-width: 70.3px;
}

#avatarHeader {
  background: black;
  width: 32px;
  aspect-ratio: 1/1;
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
  transition: ease-in;
  transition-duration: 0.2s;
}

#guestUI {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}
#guestUI .modal-trigger {
  color: white;
}

.text-separator {
  font-size: 1.5rem;
  cursor: default;
}

.container {
  display: flex;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background: #333;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 0;
}

.sidebar a:hover {
  background: #444;
}

.content {
  flex: 1;
  padding: 20px;
}/*# sourceMappingURL=vecuatoi.css.map */