{% if messages %}

    {% for message in messages %}
    <div id="message" class="container">
    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Lỗi: {% endif %}
        {{ message }}
    </div>
    </div>
    {% endfor %}

    <script>
      setTimeout(function() {
          var alerts = document.querySelectorAll('.alert');
          alerts.forEach(function(alert) {
              alert.classList.add('fade');
              alert.classList.add('show');
              $(alert).alert('close');
          });
      }, 4000);
    </script>

{% endif %}