// COLOR VARIABLES
$body_bg_color: #121212;

$header_bg_color: #128e50;
$header_text_color: white;
$header_element_color: #2cae74;

$btn_active_color: whitesmoke;
$btn_inactive_color: #26bc71;

$active_text_color: #4dba83;
$normal_text_color: #333;
$inactive_text_color: #999;
$light_text_color: whitesmoke;


// SIZE VARIABLES
$margin_small_tb: 1.5%;
$margin_small_lr: 10px;

$button_small: 30px;

$heading_font_size: 100%;
$description_font_size: small;