{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block style %}
        <link rel="stylesheet" href="{% static 'css/trangchu.css' %}">
    {% endblock %}

    {% block title %} 
        <title>QRticket</title>
    {% endblock %}
</head>

<body>

<header>

    <div class="logo">
        <a href="{% url 'home' %}" title="QRticket">
            <img src="{% static 'images/icons/logo.png' %}" alt="QRticket">
        </a>
    </div>

    <div class="search_bar wrapper">
        <form action="{% url 'search' %}" class="wrapper" method="GET">
            <input type="text" name="query" placeholder="Tìm kiếm...">
            <button type="submit">
                <img src="{% static 'images/icons/search_icon.png' %}" alt="Search icon">
            </button>
        </form>
    </div>
        
    <div class="others">

        <a class="eventManager wrapper" href="{% url 'my_events' %}">
            Tạo sự kiện
        </a>

        <a class="ticketManager wrapper" href="{% url 'my_tickets' %}">
            Vé của tôi
        </a>
    
        <div class="auth">
        {% if user %}
            <div id="userMenu" class="dropdown-hover">
                <a id="userWrapper" href="{% url 'user_page' %}">
                    <img id="avatar" src="{{ user.avatar | default:'/static/images/avatars/default-avatar.png' }}">
                    <span id="avatarText">Tài khoản</span>
                </a>

                <div class="dropdown">
                    <a href="{% url 'my_tickets' %}">Vé của tôi</a>
                    <a href="{% url 'user_page' %}">Tài khoản của tôi</a>
                    <a id="logoutBtn">Đăng xuất</a>
                </div>
            </div>

        {% else %}
            <div id="guestUI" class="wrapper modalTrigger">
                <div class="modalTriggerActions">
                    <button type="button" class="modalTrigger--login" data-open="mdl-login">
                        Đăng nhập
                    </button>
                    <button type="button" class="modalTrigger--login" data-open="mdl-signUp">
                        Đăng ký
                    </button>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
</header>

<main>
    {% block main %}{% endblock %}
</main>

<footer>
    {% block footer %}{% endblock %}
</footer>

<!-- LOGIN MODAL -->
<div id="mdl-login" class="modal">
    <div class="modal-content login">
        <div class="login__header">
            <button class="close" data-close="mdl-login">&times;</button>
            <h1>ĐĂNG NHẬP</h1>
        </div>

        <div class="login__body">
            <form class="login" id="login-form">
                {% csrf_token %}
                <div class="auth-field">
                    <label for="login_email">Email</label>
                    <input id="login_email" name="email" type="email" placeholder="Nhập email" required>
                </div>

                <div class="auth-field">
                    <label for="login_password">Mật khẩu</label>
                    <input id="login_password" name="password" type="password" placeholder="Nhập mật khẩu" required>
                </div>

                <button type="submit" class="login__button">
                    Đăng nhập
                </button>
            </form>

            <button type="button" class="modalTrigger--signUp" data-open="mdl-signUp">
                Chưa có tài khoản?
            </button>

        </div>
    </div>
</div>

<!-- SIGN-UP MODAL -->
<div id="mdl-signUp" class="modal">
    <div class="modal-content login">
        <div class="login__header">
            <button class="close" data-close="mdl-signUp">&times;</button>
            <h1>ĐĂNG KÝ</h1>
        </div>

        <div class="login__body">
            <form class="login" id="signUp-form">
                {% csrf_token %}
                <div class="auth-field">
                    <label for="signup_email">Email</label>
                    <input id="signup_email" name="email" type="email" placeholder="Nhập email" required>
                </div>

                <div class="auth-field">
                    <label for="signup_password">Mật khẩu</label>
                    <input id="signup_password" name="password" type="password" placeholder="Nhập mật khẩu" required>
                </div>

                <div class="auth-field">
                    <label for="signup_password_confirm">Xác nhận mật khẩu</label>
                    <input id="signup_password_confirm" name="password_confirm" type="password" placeholder="Nhập lại mật khẩu" required>
                </div>

                <button type="submit" class="login__button">
                    Đăng ký
                </button>
            </form>

            <button type="button" class="modalTrigger--signUp" data-open="mdl-login">
                Đã có tài khoản?
            </button>

        </div>
    </div>
</div>


{% block endOfBody %}{% endblock %}

<script type="module"> 
    import { initLogin, initSignUp } from "{% static 'js/modules/auth.js' %}";

    initLogin();
    initSignUp();

    document.getElementById("logoutBtn")?.addEventListener("click", async () => {
        await fetch("/api/logout");
        location.reload();
    });
</script>

<script type="module" src="{% static 'js/modules/modal.js' %}"></script>

<!--Paypal script-->
<script src="https://www.paypal.com/sdk/js?client-id=AZRfaOo1DYDOXvualaCjLrUmkfX8e2L9jJnZ36SEVBQS45XFwXT6GQFROKsI9WrKmolZrT5yycxVmT6J&currency=USD"></script>

{% block scripts %}
{% endblock %}

</body>
</html>